@import "../../_partials.scss/_global.scss";

.mixform {
  display: flex;

  &__card {
    padding: 0.5rem;
    width: 95%;
    border: solid 5px $text-hover-1;
    border-radius: 1.8rem;
  }

  &__text {
    padding-right: 0.5rem;
    display: flex;
    justify-content: space-between;
  }

  &__image img {
    height: 5rem;
    border-radius: 40px;
  }

  &__title {
    color: white;
    font-size: 1.5rem;
    text-align: center;

    &--container {
      width: 50%;
      display: flex;
      justify-content: space-around;
    }
  }

  &__icon {
    &--container {
      height: 5rem;
      @include center;
      flex-direction: column;
      justify-content: space-around;
    }

    &--icons {
      height: 1.5rem;
      cursor: pointer;
    }
  }

  &__audio {
    width: 10rem;
  }
}
