@import "../../_partials.scss/_global.scss";

.register {
  background-image: url("../../assets/images/eric-nopanen-8e0EHPUx3Mo-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;

  &__Form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 95%;

    & div {
      text-align: end;
      padding-bottom: 1rem;

      & label {
        color: $text-color;
        font-weight: bolder;
        font-size: 1.2rem;
      }

      & input {
        margin-left: 1rem;
        border-radius: 3px;
        border-color: $text-hover;
      }
    }
  }

  &__button1 {
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-weight: bolder;
    margin: 2rem auto;
    color: $text-color;
    background-color: $background-button;
    border-color: $text-hover;
  }
}
