.register {
  background-image: url('../../assets/images/WelcomePic.jpg');

    &__Form {
      display: flex;
      flex-direction: column;

    &__button1 {
      color: blue;
      padding: 15px;
      font-size: 25px;
      width: 200px;
      background-color: lightskyblue;
  }
}
}