@import "../../_partials.scss/_global.scss";

.wpcontainer {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-image: url("../../assets/images/WelcomePic.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  &__title {
    margin: 2rem 0;
    text-align: center;
    color: $text-color;
  }

  &__card--list {
    @include center;
    position: relative;
    justify-content: space-between;
    flex-direction: column;
    height: inherit;
  }
}
