@import "../../_partials.scss/_global.scss";

.mixlist {
  display: flex;
  justify-content: center;

  & > * {
    display: flex;
  }

  &__card {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    width: 75%;
    border: solid 5px $background-button;
    border-radius: 0.8rem;
    margin-bottom: 1rem;
    border-style: inset;
  }

    &__profileimg img{ 
      height: 5rem;
      border-radius: 3rem;
    }
    &__title {
      color: $text-color;
      font-size: 1.2rem;
      text-decoration: underline;
      text-decoration-color: #f06525;
      text-decoration-thickness: 10%;
    }

    

   

    .icon-play {
      width: 4rem;
      height: 4rem;
    }
}