@import "../../_partials.scss/_global.scss";

.mixlist {
  display: flex;
  justify-content: center;

  &__card {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    width: 95%;
    border: solid 5px $text-hover;
    border-radius: 0.8rem;
    margin-bottom: 1rem;
    border-style: inset;
    background-color: lightslategray;
  }

  &__profileimg img {
    height: 5rem;
    border-radius: 3rem;
  }

  &__title {
    color: $text-color;
    font-size: 1.2rem;
    text-decoration: underline;
    text-decoration-color: #f06525;
    text-decoration-thickness: 10%;
  }

  &__playIcon {
    display: flex;
    align-items: center;
  }
}

.icon-play {
  width: 4rem;
  height: 4rem;
}
