.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    & > * {
        display: flex;
    }
    
    &__img {
        width: 90%;
        height: 30rem;
        border: solid;
    }
}