@import "../../_partials.scss/_global.scss";

.card {
  flex-grow: 1;
  @include center;

  &__img {
    height: 10rem;
    width: 90%;
  }

  & h2 {
    position: absolute;
    @include ancor-style;
  }
}
