@import "../../_partials.scss/_global.scss";

.CommentForm {
  text-align: right;

  &__form {
    display: flex;
    flex-direction: row;
  }

  &__input {
    margin: 1rem;
    padding-left: 0.5rem;
    width: 90%;
    border: none;
    border-radius: 6px;
    padding-bottom: 0px;
    margin-bottom: 5px;
    
  }
}
