@import "../../_partials.scss/_global.scss";

.footer {
  width: 95%;

  &__section {
    & h3 {
      font-size: 1.5rem;
      color: $text-hover-1;
    }

    & p {
      color: $text-color;
    }

    & a {
      text-decoration: none;
      cursor: pointer;
    }
  }
}
