@import "../../_partials.scss/_global.scss";

.header {
  width: 100%;
  display: flex;

  &__container {
    padding-left: 0;
    padding-right: 2rem;

    margin: 0;
    flex-grow: 1;
    @include center;
    justify-content: space-between;

    & li {
      list-style: none;
      padding: 0.5rem;

      & a {
        text-transform: uppercase;
        font-weight: bolder;
        font-size: medium;
        text-decoration: none;
        color:$text-color;
        text-decoration: underline;
        text-decoration-color: $text-hover-1;
      }

      & img {
        height: 10rem;
      }
    }

    &__item {
      text-decoration: none;
      color: $text-color;

      &--active {
        color: $text-color;
        text-decoration: underline;
        text-decoration-color: $text-hover-1;
        text-decoration-thickness: 25%;
      }
    }
  }
}
