// variables

$text-color: #f5f9f5;
$background-button: #68bd64;
$text-hover: #303439;
$text-hover-1: #f06525;

// styles by tag
html {
  font-size: 12px;
}

h1 {
  margin: 0rem auto 4rem;
  padding: 0.5rem 1rem;
  width: 75%;
  font-size: 1.5rem;
  font-weight: bold;
  color: $text-color;
  text-align: center;
  text-transform: uppercase;
  background-color: $background-button;
  box-shadow: 5px 5px 34px 36px rgba(0, 0, 0, 0);
  border-radius: 5px;
}

h2 {
  &:hover {
    text-decoration: underline;
    text-decoration-color: $text-hover;
  }
}

button {
  padding: 0.5rem 1rem;
  max-width: 9rem;
  color: $text-color;
  font-weight: bolder;
  background-color: $background-button;
  border-color: $text-hover;
  border-radius: 5px;
}

label {
  color: $text-color;
  font-weight: bolder;
  font-size: 1.3rem;
}

// mixins
@mixin ancor-style {
  text-decoration: none;
  color: $text-color;
  border-color: $background-button;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin background-properties {
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
    a {
      color: $text-color;

      &:hover {
        color: $text-hover-1;
      }
    }
  }
}
