@import "../../_partials.scss/_global.scss";

.login {
  background-image: url("../../assets/images/login-background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 95%;

    & div {
      text-align: center;
      padding-bottom: 1rem;

      & label {
        color: $text-color;
        font-weight: bolder;
        font-size: 1.2rem;
      }

      & input {
        margin-left: 1rem;
        border-radius: 3px;
        border-color: $text-hover;
      }
    }
  }

  &__error {
    font-size: 1.4em;
    font-weight: bolder;
    color: $text-hover-1;
    text-align: center;
    padding-bottom: 3rem;
    text-shadow: 3px 1px $text-hover;
  }
}

.button2 {
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-weight: bolder;
  margin: 2rem auto;
  color: $text-color;
  background-color: $background-button;
  border-color: $text-hover;
}
